@import "variables";
//media query for tablet
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
//media query for desktop
@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}
// Hamburger Button Mixin
@mixin hamburger-button {
  #hamburger-btn {
    width: 35px;
    height: 50px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    .menu-btn {
      width: 30px;
      height: 1px;
      background-color: black;
      margin: 4px 0;
      transition: all 0.5s ease-in-out;
    }
    .menu-btn::before,
    .menu-btn::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: black;
      transition: all 0.5s ease-in-out;
    }
    .menu-btn::before {
      transform: translateY(-10px);
    }
    .menu-btn::after {
      transform: translateY(10px);
    }
  }
  #hamburger-btn.is-open .menu-btn {
    transform: translateX(-20px);
    background: transparent;
  }
  #hamburger-btn.is-open .menu-btn::before {
    transform: rotate(45deg) translate(15px, -15px);
  }
  #hamburger-btn.is-open .menu-btn::after {
    transform: rotate(-45deg) translate(15px, 15px);
  }
}
// NAVBAR LOGO MIXIN
@mixin nav-logo {
  .navbar-logo {
    margin: 0;
    font-size: 2rem;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    letter-spacing: 4rem;
  }
}
// DROPDOWN MENU
@mixin dropdown-menu {
  #dropdown-menu {
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
    visibility: hidden;
    display: none;
    transition: all 0.5s ease-in-out;
    li {
      padding: 20px;
      display: flex;
      border-bottom: 1px solid $light-gray;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
      }
    }
  }
}
