@import "variables";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Space Mono", monospace;
}
#nav-wrapper {
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 999;
  #nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $light-gray;
    @include hamburger-button;
    @include nav-logo;
    .cart-button {
      position: absolute;
      right: 10px;
      border: none;
      background-color: $white;
      cursor: pointer;
      span {
        position: relative;
        right: 23px;
        bottom: 2px;
      }
      i {
        font-size: 2rem;
        color: $black;
      }
    }
    #nav-desktop {
      display: none;
      visibility: hidden;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
      li {
        height: 70px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li:hover {
        border-bottom: 1px solid $black;
        transition: all 0.3s ease-in-out;
      }
      a {
        text-decoration: none;
        color: $black;
      }
    }
    @include desktop {
      #nav-desktop {
        display: flex;
        visibility: visible;
      }
    }
  }
  @include desktop {
    #nav-container {
      padding: 0;
    }
  }
  @include dropdown-menu;
  #dropdown-menu.is-down {
    visibility: visible;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 99;
  }
}
#main-form-wrapper {
  @include tablet {
    display: flex;
    justify-content: center;
  }
  #bs-container {
    padding-top: 71px;
    min-height: 100vh;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 50%;
    }
    #shipping-adress {
      padding: 20px;
      @include tablet {
        margin-bottom: -10px;
      }
    }
    form {
      padding: 20px;
      label {
        padding: 10px 0;
        @include tablet {
          padding: 5px 0;
        }
      }
      .form-check-input {
        margin-top: 12px;
      }
      .mb-3-form-check {
        display: flex;
        justify-content: flex-end;
        .btn-confirm {
          border: none;
          background-color: $black;
          color: $white;
          padding: 10px;
          margin-bottom: 10px;
        }
        .btn-confirm:hover {
          background-color: $white;
          color: $black;
          border: 1px solid $black;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    #return-to-cart-div {
      #return-to-cart {
        color: $black;
        text-decoration: none;
        #return-to-cart :hover {
          cursor: pointer;
        }
      }
    }
  }
}
#footer-container {
  height: 20vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid $light-gray;
}
