@import "variables";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Space Mono", monospace;
}
#nav-wrapper {
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 999;
  #nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $light-gray;
    @include hamburger-button;
    @include nav-logo;
    .cart-button {
      position: absolute;
      right: 10px;
      border: none;
      background-color: $white;
      cursor: pointer;
      span {
        position: relative;
        right: 23px;
        bottom: 2px;
      }
      i {
        font-size: 2rem;
        color: $black;
      }
    }
    #nav-desktop {
      display: none;
      visibility: hidden;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
      li {
        height: 70px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li:hover {
        border-bottom: 1px solid $black;
        transition: all 0.3s ease-in-out;
      }
      a {
        text-decoration: none;
        color: $black;
      }
    }
    @include desktop {
      #nav-desktop {
        display: flex;
        visibility: visible;
      }
    }
  }
  @include desktop {
    #nav-container {
      padding: 0;
    }
  }
  @include dropdown-menu;
  #dropdown-menu.is-down {
    visibility: visible;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 99;
  }
}
#details-hero-wrapper {
  #product-details-container {
    padding-top: 71px;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    .details-name {
      font-size: 2rem;
      font-weight: 200;
      padding: 40px 40px 10px 50px;
    }
    .details-price {
      font-size: 1.5rem;
      font-family: "Roboto Condensed", sans-serif;
      padding: 10px;
      margin: 0 40px;
      border-bottom: 1px solid $light-gray;
    }
    .details-img-container {
      width: 100%;
      .details-img {
        width: 100%;
      }
    }
    .dropdown-panel {
      padding: 0 20px;
      .toggle-panel {
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid $light-gray;
        padding: 20px;
      }
      .toggle-panel::before {
        content: "";
        position: absolute;
        padding: 4px;
        border: 1px solid $black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform: rotate(45deg);
        right: 1px;
      }
      .details-desc {
        display: none;
      }
      .details-ing {
        display: none;
      }
      .toggle-panel-active {
        display: block;
        margin-top: 10px;
        padding: 10px;
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .button-container {
    margin: 40px 0px 40px 0px;
    padding: 0 40px;
    #add-to-cart-btn {
      width: 100%;
      min-height: 40px;
      cursor: pointer;
      border: none;
      background-color: $black;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
    #add-to-cart-btn:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $black;
      transition: all 0.3s ease-in-out;
    }
  }
}
#footer-container {
  height: 20vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid $light-gray;
}
