@import "variables";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-container {
  display: flex;
  padding: 10px;
  @extend #hamburger-btn;
}
#dropdown-menu {
  list-style-type: none;
  text-align: center;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  li {
    border: 1px solid black;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
#dropdown-menu.is-down {
  visibility: visible;
}
